    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/hero-img.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/dashboard.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- ======================================================================================== -->
</head>

<body>

    <!--===================
        Header
        =======================-->
    <section>
        <!--===================
        Header
        =======================-->
        <header class="header">
            <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
                <a class="navbar-brand p-0 mr-5" href="#"><img src="assets/img/logo.png"></a>
                <div class="float-left"> <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a> </div>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown messages-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>                           
                                    Notifications
                            </span>
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-success bg-success">10</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul class="dropdown-menu-over list-unstyled">
                                    <li class="header-ul text-center">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu list-unstyled">
                                            <li>
                                                <!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team
                                                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="" class="rounded-circle " alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Developers
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="" class="rounded-circle " alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Sales Department
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="" class="rounded-circle " alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Reviewers
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer-ul text-center"><a href="#">See All Messages</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown notifications-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>                           
                                    Credits
                            </span>
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-warning bg-warning">10</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul class="dropdown-menu-over list-unstyled">
                                    <li class="header-ul text-center">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer-ul text-center"><a href="#">View all</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item dropdown  user-menu">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="hidden-xs">Farhan Aslam</span>
                                <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">My profile</a>
                                <a class="dropdown-item" href="#">Help</a>
                                <a class="dropdown-item border-top" href="#">Sign-out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="main">
            <aside>
                <div class="sidebar left ">

                    <ul class="list-sidebar bg-defoult">
                        <li>
                            
                            <a href="../mock_interview/dashboard_candidate.php" data-toggle="collapse" data-target="#dashboard" class="collapsed active">
                                <i class="fa fa-th-large"></i> <span class="nav-label"> Dashboards </span>
                            </a>

                        </li>
                        <li> <a href="../mock_interview/schedule_interview.php">
                        <i class="fa fa-calendar" aria-hidden="true"></i>

                             <span class="nav-label">Schedule Interview</span></a> </li>
                        <li>
                            <a href="../mock_interview/Reports.php" data-toggle="collapse" data-target="#products" class="collapsed active">
                                <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reports</span>
                            </a>

                        </li>
                        <li> <a href="../mock_interview/test_setup.php"><i class="fa fa-laptop"></i> <span class="nav-label">Test My setup</span></a> </li>
                        <li> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active">
                        <i class="fa fa-bell" aria-hidden="true"></i>

                             <span class="nav-label">Notifications</span>
                         
                        </a>

                        </li>
                        <li> <a href="../mock_interview/interview_profile.php" data-toggle="collapse" data-target="#e-commerce" class="collapsed active"><i class="fa fa-user" aria-hidden="true"></i>
                             </i> <span class="nav-label">My Profile</span>
                        </a>

                        </li>

                    </ul>


                </div>

            </aside>

            <div class="content">
                <!-- Bootstrap 5 Contact Form Snippet -->

                <div class="container py-3 ">
                    <div class="row mx-auto">

                        <div class="col-md-12 email_verificaion_box ">

                            <div class="row side-heading-font">
                                <span class="col-md-12"><center>Update your 'Profile' before attending your session for a complete evaluation!</center></span>
                            </div>
                        </div>
                        <div class="col-md-12 email_verificaion_box ">
                            <div class="row ">
                                <div class="col-md-12">
                                    <span class="side-heading-font">Verify your Email </span>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <span class="sub-text-normal">
                                  We have sent a verification mail to your registered email address. Open your email and click on the confirmation link.
                                  </span>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <!-- ngIf: user.group == 1 -->
                                    <div class="col-md-6 padding-none ng-scope" ng-if="user.group == 1">
                                        <button class="btn-default-enabled " type="button" ng-click="update_email()"><span style="text-align:center;">Update Email</span>
                                        </button> &nbsp;&nbsp;
                                        <button class="btn-default-enabled " type="button" id="verifyemail" ng-click="send_verification_email()"><span style="text-align:center;">Resend Email</span>
                                        </button>
                                    </div>
                                    <!-- end ngIf: user.group == 1 -->

                                </div>

                            </div>





                        </div>

                    </div>
                    <div class="row mx-auto">
                        <div class="col-md-12 well bg-white text-center shedule-first">
                            <center>
                                <h1 class="main-content-heading-font">
                                    <!-- Do great on Big Interview -->Get Yourself Interview Ready!
                                </h1>

                                <button class="col-md-4 blue-btn-large" type="button" id="scheduleFirstInterview" ng-show="!is_sessions_completed &amp;&amp; !is_sessions_scheduled" ng-click="schedule_session()" aria-hidden="false">Schedule First Interview</button>
                                <!-- <button class="col-md-4 blue-btn-large ng-hide" type="button" id="scheduleNewInterview" ng-show="is_sessions_completed || is_sessions_scheduled" ng-click="schedule_session()" aria-hidden="true">Schedule Interview</button> -->
                            </center>
                        </div>
                    </div>


                    <div class=" well mx-auto mt-4 p-4">
                        <h2>Resources</h2>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <span class="res_img pull-left">
                                       <img src="assets/img/Interview Tips 2.png" alt="" class="img-fluid">
                                       <span class="ml-2"><a href="#">
                                        How to Refine Your English through Listening
                                       </a> </span>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="carrer_man">Career Management</span>
                                    <span class="carrer ">Career </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <span class="res_img pull-left">
                                       <img src="assets/img/Interview Tips 2.png" alt="" class="img-fluid">
                                       <span class="ml-2"><a href="#">
                                        How to Refine Your English through Listening
                                       </a> </span>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="carrer_man">Career Management</span>
                                    <span class="carrer ">Career </span>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="col-md-6">

                                    <span class="res_img pull-left">
                                       <img src="assets/img/Interview Tips 2.png" alt="" class="img-fluid">
                                       <span class="ml-2"><a href="#">
                                        How to Refine Your English through Listening
                                       </a> </span>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="carrer_man">Career Management</span>
                                    <span class="carrer ">Career </span>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="col-md-6">

                                    <span class="res_img pull-left">
                                       <img src="assets/img/Interview Tips 2.png" alt="" class="img-fluid">
                                       <span class="ml-2"><a href="#">
                                        How to Refine Your English through Listening
                                       </a> </span>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="carrer_man">Career Management</span>
                                    <span class="carrer ">Career </span>
                                </div>
                                <button class="btn btn primary pull-right view_btn">View All</button>
                            </div>

                        </div>

                    </div>
                </div>





            </div>

    </section>



    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!--  Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
        $(document).ready(function() {
            $('.button-left').click(function() {
                $('.sidebar').toggleClass('fliph');
            });

        });
    </script>

</body>

</html>